################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cladios/.vs/Cladios/v15
/Cladios/Cladios/obj
/Turgut/.vs/Turgut/v15
